{% extends 'base.html' %}

{% block content %}



 {% if user.is_authenticated %} 

 

 <table class="table table-striped table-hover table-bordered ">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Adress</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Created_at</th>
        <th scope="col">Id</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            {% if records %}
   {% for record in recordsc %}
        <tr>
          <td>{{ record.first_name }}
          {{ record.last_name }} </td>
          <td>{{ record.email }}</td>
          <td>{{ record.phone }}</td>
          <td>{{ record.address }}</td>
          <td>{{ record.city }}</td>
          <td>{{ record.state }}</td>
          <td>{{ record.zipcode }}</td>
          <td>{{ record.created_at }}</td>
          <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
        </tr>

   {% endfor %}

{% endif %}



        </tr>
    </tbody>
  </table>

  <br/>
  <br/>
  <br/>


  <table class="table table-striped table-hover table-bordered ">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Id</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          {% if course %}
               {% for course in course %}
      <tr>
        
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td><a href="{% url 'course_list' course.id %}">{{ course.id }}</a></td>
      </tr>

               {% endfor %}

          {% endif %}



      </tr>
  </tbody>
</table>



 {% else %}

 <div class="col-md offset-md-3"></div>

<h1> Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
   
        <div class="mb-3">
         
          <input type="text" class="form-control" name="username", placeholder="Username" required>
          
        </div><br/>
        <div class="mb-3">
          
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <br/>
        
        <button type="submit" class="btn btn-secondary">Login</button>
      

</form>


{% endif %}

{% endblock %}






<br/>
<br/>
<br/>


<table class="table table-striped table-hover table-bordered ">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Id</th>
    </tr>
  </thead>
 <tbody>
  <tr>
      {% if package %}
           {% for package in package %}
  <tr>
    
    <td>{{ package.name }}</td>
    <td>{{ package.description }}</td>
    <td>{{ package.price }}</td>
    <td><a href="{% url 'package_list' package.id %}">{{ package.id }}</a></td>
  </tr>

           {% endfor %}

      {% endif %}



  </tr>
 </tbody>
</table>



{% else %}



<div class="col-md offset-md-3"></div>

<h1> Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
{% csrf_token %}

    <div class="mb-3">
     
      <input type="text" class="form-control" name="username", placeholder="Username" required>
      
    </div><br/>
    <div class="mb-3">
      
      <input type="password" class="form-control" name="password", placeholder="Password" required>
    </div>
    <br/>
    
    <button type="submit" class="btn btn-secondary">Login</button>
  

</form>


{% endif %}

{% endblock %}








