<!-- subscription.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Subscriptions</title>
</head>
<body>
    <h1>Subscriptions</h1>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Package</th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.PackageID.CourseID.CourseName }}</td>
                <td>{{ subscription.PackageID.PackageName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
